/* 
  App.css

  Este arquivo contém os estilos específicos do componente App.
  Diferente do index.css, que é global, o App.css organiza o layout, cores e posicionamento
  apenas para o componente principal. Isso ajuda a manter os estilos do App separados dos
  estilos globais, tornando o projeto mais organizado e fácil de manter.
*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
